<div class="container mt-4">
  <h1 class="text-success">¿Que es reciclar?</h1>
  <div class="row">
    <div class="col-md-4 border p-1 m-1 rounded" id="img-inicio">
      <img src="../../../assets/images/img 1.jpg" alt="">
      <a href='https://www.freepik.es/fotos/bolsa' target="_blank">Foto de Bolsa creado por freepik - www.freepik.es</a>
    </div>
    <div class="col-md-7 p-2 ml-4">
      <p class="text-center">El reciclaje es el proceso mediante el cual los desechos se convierten en nuevos productos o en recursos
        materiales con el que fabricar otros productos. De esta forma, los residuos se someten a un proceso de
        transformación eco-ambiental para poder ser aprovechados en algún proceso de fabricación, reduciendo el consumo de
        materias primas y ayudando a eliminar residuos.
        Es importante diferenciar entre reciclar y reutilizar, siendo esto último el aprovechamiento de un determinado
        objeto para otro uso, sin necesidad de someterlo a un proceso físico-químico de transformación. Por ejemplo,
        utilizar una botella como florero o hacer una cartera con un viejo pantalón vaquero. Mientras que el reciclaje
        implica la transformación de los residuos, mediante procesos que convierten esos desechos en un producto o
        material nuevo</p>
        <div class="row">
          <a class="btn btn-success btn-block" [routerLink]="['/registro-usuarios']">Quiero donar!</a>
        </div>
    </div>
  </div>
</div>

